apiVersion: v1
kind: Service
metadata:
  name: pipeline-app-service
  labels:
    app: pipeline-app
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
  selector:
    app: pipeline-app
